*.font: xft:firacode:size=11,xft:kalimati,xft:symbola
URxvt.scrollBar: false

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

!! colorful man pages
URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

!! clickable links
URxvt.perl-ext-common: default,url-select,font-size,keyboard-select

!! keyboard select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: True

!! url select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.underline: true
! Pattern like duckduckgo.com
URxvt.matcher.pattern.0:  [\\w-]+\\.[\\w./?&@#-]*[\\w/-]

!! font size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

!! Urxvt transparency
urxvt*depth: 32
!urxvt*background: rgba:0000/0000/0200/c800

!! scrolling
!#URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
!#URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
!#URxvt*scrollTtyKeypress: true

!! scroll back buffer in secondary screen
!#URxvt.secondaryScreen: 1
!#URxvt.secondaryScroll: 0

!! Common Keybinds for Navigations
! Jump to next word
!#URxvt.keysym.C-Right: \033[1;5C
! Jump to previous word
!#URxvt.keysym.C-Left: \033[1;5D

